body {
    width: 90%;
    margin: 0 auto;
    /* Background Image */
    background-image: url(https://cdn.pixabay.com/photo/2016/11/08/05/01/airplane-1807486_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a, p {
    font-family: 'ArchivoNarrowRegular';
    font-weight: normal;
    font-style: normal;
    color: white;
}

* {
    text-align: center;
}
/* Logo */
h1 {
    font-family: 'MistoBook';
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
    color: tomato;

    background-color: black;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    overflow: auto;
}

#nav, #feature, #footer {
    margin: 1%;
}

a:hover {
    color: tomato;
    transition: 0.3s ease;
    
}
/* Navbar */
#nav {
    background-color: black;
    padding: 0.5em 0;
}

li {
    display: inline;
    padding: 0.5em;
    font-size: 20px;
}

#feature {
    background-color: rgb(61, 218, 132);
    background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/icons/3251535/perspective-dice-one-icon-md.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;
}
/* Articles */
.article {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column1 {
    background-color: rgb(233, 171, 37);
}

.column2 {
    background-color: rgb(61, 124, 218);
}

.column3 {
    background-color: rgb(184, 61, 218);
}

/* Footer */

#footer {
    background-color: rgb(179, 179, 179);
    padding: 0.5em 0;
}
