#title {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: lightgreen;
    text-align: center;
    z-index: 10;

    font-family: 'YoungSerifRegular';
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
}

body {
    background-image:url("https://static.vecteezy.com/system/resources/previews/011/589/026/original/aesthetic-sage-green-background-free-vector.jpg");
    background-position: center;
}

.piece {
    margin-left: 18px;
    margin-top: 10px;
    width: 60%;
    height: 60%;
}

#container {
    margin-top: 100px;
    margin-left: 525px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.row {
    position: relative;
    align-items: center;
}

.clear {
    clear: both;
}

.white {
    border: 1px solid black;
    width: 8%;
    height: 90px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 8%;
    height: 90px;
    background-color: #787878;
    float: left;
}

#footer {
    position: fixed;
    text-align: center;
    padding: 10px;
    margin: 0px;
    left: 0px;
    width: 100%;
    background-color: lightgreen;
    z-index: 0;
}

