* {
    text-align: center;
    color: white;
}

h1 {
    color: whitesmoke;
    border: 8px double whitesmoke;
    border-radius: 35px;
    padding: 10px;
    margin-left: 700px;
    margin-right: 700px;
    
    font-family: 'MistoBook';
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(images/brownwallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#content {
    background-color: rgb(43, 26, 0);
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
}

a:hover {
    color: rgb(196, 182, 134);
    transition: ease 0.5s;
}

li {
    display: inline;
    padding: 2em;
    font-size: 20px;
}

li, h2 {
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-size: normal;
}

#artifacts {
    background-color:rgb(43, 26, 0);
}
